.container__slider {

	background-color: #EFEFEF;
	font-weight: 700;

	line-height: 16px;
	color: $blackColor;

	padding: 20px 0 120px 75px;
	.slider__title {
		.slider__title__link {
			border-bottom: 1px dotted #555;
			color: #555;
			cursor: pointer;
			vertical-align: bottom;
		}

		.slider__title__link__active{
			color: #000;
			border-bottom: none;
		}
	}

	

}